body {
	text-align: center;
	margin: 0;
}

h1 {
	font-weight: 400;
	margin: 0;
}

header {
	color: #ffffff;
	background-color: #f15b31;
	padding: 30px 20px;
}

nav {
	background-color: #00a6b3;
	padding: 20px 0;
}

nav a {
	margin: 0 20px;
	color: #ffffff;
	padding: 20px 20px;
	margin: 0;
}

a {
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

a:hover {
	background-color: #ffffff;
	color: #00a6b3;
}

h1, nav, h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;

}

main {
	width: 850px;
	margin: 35px auto;
}

p {
	font-family: "Droid Serif", serif;
}

img {
	margin: 40px 8px;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background: #0D3C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

footer p {
	font-family: Raleway;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}